.cursor-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Allows clicking through cursor */
  z-index: 1000000000000000000; /* Ensures cursor appears above other content */
}

.circle {
  position: fixed;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: rgb(242, 242, 255); /* Change this color as needed */
  pointer-events: none;
  transition: background-color 0.1s;
  /* Initial position off-screen */
  left: -100px;
  top: -100px;
}